<!-- app/views/employees/edit.html.erb -->
<div class="container">
  <h1>Editing Employee</h1>

  <%= form_tag employee_path(@employee&.dig("id")), method: :put do %>
    <%= render partial: 'form', locals: { employee: @employee } %>
    <%= submit_tag "Submit", class: 'btn btn-primary' %>
  <% end %>
</div>
<br>
