<!-- app/views/employees/new.html.erb -->
<div class="container">
  <h1>New Employee</h1>

  <%= form_tag employees_path do %>
    <%= render partial: 'form', locals: { employee: nil } %>
    <%= submit_tag "Submit", class: 'btn btn-primary' %>
    <%= link_to "Back", employees_path %>
  <% end %>
</div>
<div>
</div>
